# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# pyenv
.python-version

# pipenv
#   According to pypa/pipenv#598, it is recommended to include Pipfile.lock in version control.
#   However, in case of collaboration, if having platform-specific dependencies or dependencies
#   having no cross-platform support, pipenv may install dependencies that don't work, or not
#   install all needed dependencies.
#Pipfile.lock

# PEP 582; used by e.g. github.com/David-OConnor/pyflow
__pypackages__/

# Celery stuff
celerybeat-schedule
celerybeat.pid

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/
# vscode
.vscode
*.jpg
*.zip
artifacts/prepare_base_model/base_model.h5
artifacts/prepare_base_model/updated_base_model.h5
artifacts/prepare_callbacks/checkpoint_dir/model.h5
artifacts/prepare_callbacks/tensorboard_root_log_dir/tb_logs_at_2022-10-17_23-53-21/train/events.out.tfevents.1666031006.LAPTOP-NOKHV1S4.12736.0.v2
artifacts/prepare_callbacks/tensorboard_root_log_dir/tb_logs_at_2022-10-18_15-41-34/train/events.out.tfevents.1666087905.LAPTOP-NOKHV1S4.12088.0.v2
artifacts/prepare_callbacks/tensorboard_root_log_dir/tb_logs_at_2022-10-18_15-41-34/validation/events.out.tfevents.1666091080.LAPTOP-NOKHV1S4.12088.1.v2
artifacts/prepare_callbacks/tensorboard_root_log_dir/tb_logs_at_2022-10-18_16-51-00/train/events.out.tfevents.1666092062.LAPTOP-NOKHV1S4.12088.2.v2
artifacts/prepare_callbacks/tensorboard_root_log_dir/tb_logs_at_2022-10-18_18-25-52/train/events.out.tfevents.1666097754.LAPTOP-NOKHV1S4.12088.3.v2
artifacts/prepare_callbacks/tensorboard_root_log_dir/tb_logs_at_2022-10-18_22-34-53/train/events.out.tfevents.1666112698.LAPTOP-NOKHV1S4.15380.0.v2
artifacts/prepare_callbacks/tensorboard_root_log_dir/tb_logs_at_2022-10-18_22-34-53/validation/events.out.tfevents.1666115940.LAPTOP-NOKHV1S4.15380.1.v2
artifacts/training/model.h5
artifacts/prepare_callbacks/tensorboard_root_log_dir/tb_logs_at_2022-10-20_00-29-16/train/events.out.tfevents.1666205959.LAPTOP-NOKHV1S4.18540.0.v2
artifacts/prepare_callbacks/tensorboard_root_log_dir/tb_logs_at_2022-10-20_18-31-16/train/events.out.tfevents.1666270882.LAPTOP-NOKHV1S4.15280.0.v2
artifacts/prepare_callbacks/tensorboard_root_log_dir/tb_logs_at_2022-10-20_18-31-16/validation/events.out.tfevents.1666273763.LAPTOP-NOKHV1S4.15280.1.v2
artifacts/prepare_callbacks/tensorboard_root_log_dir/tb_logs_at_2022-10-22_10-16-53/train/events.out.tfevents.1666414020.LAPTOP-NOKHV1S4.13388.0.v2
mlruns/0/meta.yaml
mlruns/0/816eae12d91e4c2ab21f9f4c9b0cd256/meta.yaml
mlruns/0/816eae12d91e4c2ab21f9f4c9b0cd256/metrics/accuracy
mlruns/0/816eae12d91e4c2ab21f9f4c9b0cd256/metrics/loss
mlruns/0/816eae12d91e4c2ab21f9f4c9b0cd256/params/AUGMENTATION
mlruns/0/816eae12d91e4c2ab21f9f4c9b0cd256/params/BATCH_SIZE
mlruns/0/816eae12d91e4c2ab21f9f4c9b0cd256/params/CLASSES
mlruns/0/816eae12d91e4c2ab21f9f4c9b0cd256/params/EPOCHS
mlruns/0/816eae12d91e4c2ab21f9f4c9b0cd256/params/IMAGE_SIZE
mlruns/0/816eae12d91e4c2ab21f9f4c9b0cd256/params/INCLUDE_TOP
mlruns/0/816eae12d91e4c2ab21f9f4c9b0cd256/params/LEARNING_RATE
mlruns/0/816eae12d91e4c2ab21f9f4c9b0cd256/params/WEIGHTS
mlruns/0/816eae12d91e4c2ab21f9f4c9b0cd256/tags/mlflow.source.git.commit
mlruns/0/816eae12d91e4c2ab21f9f4c9b0cd256/tags/mlflow.source.name
mlruns/0/816eae12d91e4c2ab21f9f4c9b0cd256/tags/mlflow.source.type
mlruns/0/816eae12d91e4c2ab21f9f4c9b0cd256/tags/mlflow.user
prediction_service/model.h5
prediction_service/requirements.txt
research/ml_flow/example.py
research/ml_flow/mlruns/0/meta.yaml
research/ml_flow/mlruns/0/479cf15d330449f6928effc79fd16773/meta.yaml
research/ml_flow/mlruns/0/479cf15d330449f6928effc79fd16773/artifacts/model/conda.yaml
research/ml_flow/mlruns/0/479cf15d330449f6928effc79fd16773/artifacts/model/MLmodel
research/ml_flow/mlruns/0/479cf15d330449f6928effc79fd16773/artifacts/model/model.pkl
research/ml_flow/mlruns/0/479cf15d330449f6928effc79fd16773/artifacts/model/python_env.yaml
research/ml_flow/mlruns/0/479cf15d330449f6928effc79fd16773/artifacts/model/requirements.txt
research/ml_flow/mlruns/0/479cf15d330449f6928effc79fd16773/metrics/mae
research/ml_flow/mlruns/0/479cf15d330449f6928effc79fd16773/metrics/r2
research/ml_flow/mlruns/0/479cf15d330449f6928effc79fd16773/metrics/rmse
research/ml_flow/mlruns/0/479cf15d330449f6928effc79fd16773/params/alpha
research/ml_flow/mlruns/0/479cf15d330449f6928effc79fd16773/params/l1_ratio
research/ml_flow/mlruns/0/479cf15d330449f6928effc79fd16773/tags/mlflow.log-model.history
research/ml_flow/mlruns/0/479cf15d330449f6928effc79fd16773/tags/mlflow.runName
research/ml_flow/mlruns/0/479cf15d330449f6928effc79fd16773/tags/mlflow.source.git.commit
research/ml_flow/mlruns/0/479cf15d330449f6928effc79fd16773/tags/mlflow.source.name
research/ml_flow/mlruns/0/479cf15d330449f6928effc79fd16773/tags/mlflow.source.type
research/ml_flow/mlruns/0/479cf15d330449f6928effc79fd16773/tags/mlflow.user
research/ml_flow/mlruns/0/7fc0683a22674afdaf7fd2e741afe1e0/meta.yaml
research/ml_flow/mlruns/0/7fc0683a22674afdaf7fd2e741afe1e0/artifacts/model/conda.yaml
research/ml_flow/mlruns/0/7fc0683a22674afdaf7fd2e741afe1e0/artifacts/model/MLmodel
research/ml_flow/mlruns/0/7fc0683a22674afdaf7fd2e741afe1e0/artifacts/model/model.pkl
research/ml_flow/mlruns/0/7fc0683a22674afdaf7fd2e741afe1e0/artifacts/model/python_env.yaml
research/ml_flow/mlruns/0/7fc0683a22674afdaf7fd2e741afe1e0/artifacts/model/requirements.txt
research/ml_flow/mlruns/0/7fc0683a22674afdaf7fd2e741afe1e0/metrics/mae
research/ml_flow/mlruns/0/7fc0683a22674afdaf7fd2e741afe1e0/metrics/r2
research/ml_flow/mlruns/0/7fc0683a22674afdaf7fd2e741afe1e0/metrics/rmse
research/ml_flow/mlruns/0/7fc0683a22674afdaf7fd2e741afe1e0/params/alpha
research/ml_flow/mlruns/0/7fc0683a22674afdaf7fd2e741afe1e0/params/l1_ratio
research/ml_flow/mlruns/0/7fc0683a22674afdaf7fd2e741afe1e0/tags/mlflow.log-model.history
research/ml_flow/mlruns/0/7fc0683a22674afdaf7fd2e741afe1e0/tags/mlflow.runName
research/ml_flow/mlruns/0/7fc0683a22674afdaf7fd2e741afe1e0/tags/mlflow.source.git.commit
research/ml_flow/mlruns/0/7fc0683a22674afdaf7fd2e741afe1e0/tags/mlflow.source.name
research/ml_flow/mlruns/0/7fc0683a22674afdaf7fd2e741afe1e0/tags/mlflow.source.type
research/ml_flow/mlruns/0/7fc0683a22674afdaf7fd2e741afe1e0/tags/mlflow.user
research/ml_flow/mlruns/0/b337c0c4a7a04c94a3fc514052c6c278/meta.yaml
research/ml_flow/mlruns/0/b337c0c4a7a04c94a3fc514052c6c278/artifacts/model/conda.yaml
research/ml_flow/mlruns/0/b337c0c4a7a04c94a3fc514052c6c278/artifacts/model/MLmodel
research/ml_flow/mlruns/0/b337c0c4a7a04c94a3fc514052c6c278/artifacts/model/model.pkl
research/ml_flow/mlruns/0/b337c0c4a7a04c94a3fc514052c6c278/artifacts/model/python_env.yaml
research/ml_flow/mlruns/0/b337c0c4a7a04c94a3fc514052c6c278/artifacts/model/requirements.txt
research/ml_flow/mlruns/0/b337c0c4a7a04c94a3fc514052c6c278/metrics/mae
research/ml_flow/mlruns/0/b337c0c4a7a04c94a3fc514052c6c278/metrics/r2
research/ml_flow/mlruns/0/b337c0c4a7a04c94a3fc514052c6c278/metrics/rmse
research/ml_flow/mlruns/0/b337c0c4a7a04c94a3fc514052c6c278/params/alpha
research/ml_flow/mlruns/0/b337c0c4a7a04c94a3fc514052c6c278/params/l1_ratio
research/ml_flow/mlruns/0/b337c0c4a7a04c94a3fc514052c6c278/tags/mlflow.log-model.history
research/ml_flow/mlruns/0/b337c0c4a7a04c94a3fc514052c6c278/tags/mlflow.runName
research/ml_flow/mlruns/0/b337c0c4a7a04c94a3fc514052c6c278/tags/mlflow.source.git.commit
research/ml_flow/mlruns/0/b337c0c4a7a04c94a3fc514052c6c278/tags/mlflow.source.name
research/ml_flow/mlruns/0/b337c0c4a7a04c94a3fc514052c6c278/tags/mlflow.source.type
research/ml_flow/mlruns/0/b337c0c4a7a04c94a3fc514052c6c278/tags/mlflow.user
research/ml_flow/mlruns/0/d5e0c23c544446fcac6ac39ee6279623/meta.yaml
research/ml_flow/mlruns/0/d5e0c23c544446fcac6ac39ee6279623/artifacts/model/conda.yaml
research/ml_flow/mlruns/0/d5e0c23c544446fcac6ac39ee6279623/artifacts/model/MLmodel
research/ml_flow/mlruns/0/d5e0c23c544446fcac6ac39ee6279623/artifacts/model/model.pkl
research/ml_flow/mlruns/0/d5e0c23c544446fcac6ac39ee6279623/artifacts/model/python_env.yaml
research/ml_flow/mlruns/0/d5e0c23c544446fcac6ac39ee6279623/artifacts/model/requirements.txt
research/ml_flow/mlruns/0/d5e0c23c544446fcac6ac39ee6279623/metrics/mae
research/ml_flow/mlruns/0/d5e0c23c544446fcac6ac39ee6279623/metrics/r2
research/ml_flow/mlruns/0/d5e0c23c544446fcac6ac39ee6279623/metrics/rmse
research/ml_flow/mlruns/0/d5e0c23c544446fcac6ac39ee6279623/params/alpha
research/ml_flow/mlruns/0/d5e0c23c544446fcac6ac39ee6279623/params/l1_ratio
research/ml_flow/mlruns/0/d5e0c23c544446fcac6ac39ee6279623/tags/mlflow.log-model.history
research/ml_flow/mlruns/0/d5e0c23c544446fcac6ac39ee6279623/tags/mlflow.runName
research/ml_flow/mlruns/0/d5e0c23c544446fcac6ac39ee6279623/tags/mlflow.source.git.commit
research/ml_flow/mlruns/0/d5e0c23c544446fcac6ac39ee6279623/tags/mlflow.source.name
research/ml_flow/mlruns/0/d5e0c23c544446fcac6ac39ee6279623/tags/mlflow.source.type
research/ml_flow/mlruns/0/d5e0c23c544446fcac6ac39ee6279623/tags/mlflow.user
research/ml_flow/mlruns/0/efbaa4e769f54c7a96311dc0666b5f92/meta.yaml
research/ml_flow/mlruns/0/efbaa4e769f54c7a96311dc0666b5f92/artifacts/model/conda.yaml
research/ml_flow/mlruns/0/efbaa4e769f54c7a96311dc0666b5f92/artifacts/model/MLmodel
research/ml_flow/mlruns/0/efbaa4e769f54c7a96311dc0666b5f92/artifacts/model/model.pkl
research/ml_flow/mlruns/0/efbaa4e769f54c7a96311dc0666b5f92/artifacts/model/python_env.yaml
research/ml_flow/mlruns/0/efbaa4e769f54c7a96311dc0666b5f92/artifacts/model/requirements.txt
research/ml_flow/mlruns/0/efbaa4e769f54c7a96311dc0666b5f92/metrics/mae
research/ml_flow/mlruns/0/efbaa4e769f54c7a96311dc0666b5f92/metrics/r2
research/ml_flow/mlruns/0/efbaa4e769f54c7a96311dc0666b5f92/metrics/rmse
research/ml_flow/mlruns/0/efbaa4e769f54c7a96311dc0666b5f92/params/alpha
research/ml_flow/mlruns/0/efbaa4e769f54c7a96311dc0666b5f92/params/l1_ratio
research/ml_flow/mlruns/0/efbaa4e769f54c7a96311dc0666b5f92/tags/mlflow.log-model.history
research/ml_flow/mlruns/0/efbaa4e769f54c7a96311dc0666b5f92/tags/mlflow.runName
research/ml_flow/mlruns/0/efbaa4e769f54c7a96311dc0666b5f92/tags/mlflow.source.git.commit
research/ml_flow/mlruns/0/efbaa4e769f54c7a96311dc0666b5f92/tags/mlflow.source.name
research/ml_flow/mlruns/0/efbaa4e769f54c7a96311dc0666b5f92/tags/mlflow.source.type
research/ml_flow/mlruns/0/efbaa4e769f54c7a96311dc0666b5f92/tags/mlflow.user
